<% title "Welcome - All Authors" %>
<% current_time %>

<% if !params[:event_time].blank? %>
  <% if params[:event_time] == "Morning" %>
    <% @events = Event.where("created_at >= ?", Time.zone.today.beginning_of_day) %>
  <% else %>
    <% @events = Event.where("created_at < ?", Time.zone.today.beginning_of_day) %>
  <% end %>
<% end %>

<h1>All Events</h1>

<%= form_tag("events", method: "get") do %>
  <%= select_tag :event_time, options_for_select(["Today", "Older Time"]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %> -- Event Date: <%= event_date_time event %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Create a New Event', new_event_path %>

<hr>