<% title "Welcome - All Authors" %>
<% current_time %>

<h1>All Events</h1>

<%= form_tag("events", method: "get") do %>
  <%= select_tag :event_time, options_for_select(["Today", "Older Time"]), include_blank: true %>
  <%= select_tag :registrations, options_for_select(["Less than Twenty-Five", "Twenty-Five to Fifty", "More than Fifty"]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %> -- Event Date: <%= event_date_time event %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Create a New Event', new_event_path %>

<hr>